

<form ngNativeValidate (submit)="sendMessage()">
    <div class="mb-3">
        <input type="text" name="userName" required [(ngModel)]="user.name" class="form-control" placeholder="Your name">
    </div>
    <div class="mb-3">
        <input type="email"  name="email" required [(ngModel)]="user.email" class="form-control" placeholder="Your Email">
    </div>
    <div class="mb-3">
        <textarea class="form-control" required name="message" [(ngModel)]="user.message"  placeholder="Your message" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn review-btn">Submit</button>
    </div>
</form>