/* You can add global styles to this file, and also import other style files */
//@import '/node_modules/ngx-toastr/toastr-bs5-alert';

/* loader css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9999; /* Adjust the z-index to make sure it appears above other elements */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: #000; /* Change the color of the loader */
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .product-page .nav-item a {
    color: black !important
  }

  .product-page .has-search .input-box::placeholder {
    color: unset;
}